---
---
$lightgray: #ccc;
$darkolivegreen: #562;

body {
    font-family: monospace, "courier new", courier;
    font-size: 16px;
    font-size: .98rem !important;
    line-height: 1.8;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

hr {
    border-top: 1px solid $lightgray;
}

.i {
    background: $darkolivegreen;
    line-height: 0;

    img {
        mix-blend-mode: screen;
    }
}

pre {
    width: 100%;
    white-space: pre-wrap;
    word-wrap: break-word;
}

ol {
    list-style-type: decimal-leading-zero;
}

#w {
    width: 800px;
}

@media only screen and (max-width: 800px) {
    #w,img {
        width: 100%;
    }

    #w {
        max-width: 800px;
    }

    img {
        height: auto;
    }
}
