---
layout: page
title: Updates
subtitle: $ cat /var/log/zachflower
sitemap:
  priority: 0.9
---

<ul class="list-posts">
  {% for post in site.posts %}
    <li class="post-teaser">
      {% if post.external_url %}
        <a href="{{ post.external_url }}" class="external-site {{ post.external_site }}" target="_blank">
          <span class="post-teaser__title">{{ post.title }}</span>
          <span class="post-teaser__date">{{ post.date | date: "%d %B %Y" }}</span>
        </a>
      {% else %}        
        <a href="{{ post.url | prepend: site.baseurl }}">
          <span class="post-teaser__title">{{ post.title }}</span>
          <span class="post-teaser__date">{{ post.date | date: "%d %B %Y" }}</span>
        </a>
      {% endif %}
    </li>
  {% endfor %}
</ul>
