<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>
    {%- if page.title -%}
      {{ page.title }}
    {%- else -%}
      {{ site.title }}
    {%- endif -%}
  </title>

  {% feed_meta %}

  <link rel="shortcut icon" href="#" />

  <style type='text/css'>
    body {
        font-size: 16px;
        font-size: .98rem !important;
        line-height: 1.5;
    }
    img, pre {
        width: 100%;
    }

    pre {
        white-space: pre-wrap;
        word-wrap: break-word;
    }

    #wrapper {
        width: auto !important;
        max-width: 800px;
    }

    /* firefox 1+2 support */
    body:empty #wrapper {
        min-width: 800px;
    }
  </style>

  <!--[if IE 7]>
    <style type='text/css'>
      #wrapper {
        min-width: 800px;
      }
    </style>
  <![endif]-->
</head>