<header class="header">
  <div class="navigation">
    <a href="/" class="logo">{{ site.title }}</a>

    <ul class="menu">
      <li class="menu__entry"><a href="{{ '/' | prepend: site.baseurl }}">Blog</a></li>
      <li class="menu__entry"><a href="{{ '/about' | prepend: site.baseurl }}">About</a></li>
      <li class="menu__entry"><a href="{{ '/contact' | prepend: site.baseurl }}">Contact</a></li>
    </ul>
  </div>

  <ul class="social-links">
    {% if site.author.git %}
      <a href="{{ site.author.git }}" class="social-links__entry" target="_blank">
        <i class="fas fa-code"></i>
      </a>
    {% endif %}
    {% if site.author.github %}
      <a href="https://github.com/{{ site.author.github }}" class="social-links__entry" target="_blank">
        <i class="fab fa-github"></i>
      </a>
    {% endif %}

    {% if site.author.twitter %}
      <a href="https://twitter.com/{{ site.author.twitter }}" class="social-links__entry" target="_blank">
        <i class="fab fa-twitter"></i>
      </a>
    {% endif %}

    {% if site.author.mastodon %}
      <a href="{{ site.author.mastodon }}" class="social-links__entry" target="_blank">
        <i class="fab fa-mastodon"></i>
      </a>
    {% endif %}

    <a href="{{ site.url }}/feed.xml" class="social-links__entry" target="_blank">
      <i class="fas fa-rss"></i>
    </a>
  </ul>
</header>
