<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>
    {%- if page.title -%}
      {{ page.title }}
    {%- else -%}
      {{ site.title }}
    {%- endif -%}
  </title>

  {% seo title=false %}
  {% feed_meta %}

  <link rel="shortcut icon" href="#" />

  <style type="text/css">
    /* the absolute bare-minimum css required for legibility */
    body {
      font-size: 16px;
      font-size: .98rem !important;
      line-height: 1.5;
    }

    table {
      width: 100% !important;
      max-width: 800px;
    }

    img {
      max-width: 100%;
    }

    pre {
      white-space:pre-wrap;
    }
  </style>

  <!--[if lt IE 7]>
    <style tyle="text/css">
      body>center>table {
        width: 800px;
      }
    </style>
  <![endif]-->
</head>