body {
    color: black;
    font-size: .98rem;
    font-family: monospace;
    line-height: 1.5;
    margin: 0;
}

h2, h3, h4, h5 {
    margin-top: 3rem;
}

hr {
    margin: 2rem 0;
}

p {
    margin: 1rem 0;
    text-align: justify;
}

ul,ol {
    padding-left: 2rem;
}

li {
    margin: 0.2rem 0;

    & > table {
        border: none;
        margin: .2rem 0;

        td {
            width: auto;
            border: none;
            padding: 0.1rem 0.4rem;
            vertical-align: top;
        }
    }
}

hr {
    text-align: center;
    border: 0;
    border-top: 1px solid lightgray;
}

table, th, td {
    width: 100%;
    border: thin solid lightgray;
    border-collapse: collapse;
    padding: 0.4rem;
}

code {
    color: white;
    background-color: black;
    padding: .2rem .4rem;
}

div {
    &.highlighter-rouge {
        code {
            display: block;
            overflow-x: auto;
            padding: 1rem;
            font-size: 1rem;
        }
    }
}

blockquote {
    color: gray;
    border: thin solid lightgray;
    font-size: 1rem;
    font-style: italic;
    padding: 1rem;
    margin: 0;

    p {
        &:first {
            margin: 0;
        }

        text-align: left;
        margin: 1rem 0 0 0;

        code {
            font-size: 1rem;
        }
    }

    & > h2, & > h3, & > h4, & > h5 {
        &:first-child {
            margin-top: 0;
        }
    }
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 4rem 1rem;
}

article {
    img {
        max-width: 100%;
        width: 100%;
        display: block;
        margin: 0 auto;
    }

    footer {
        font-size: 1rem;
        color: gray;
    }
}