{% if include.category %}
  {% assign posts = site.categories[include.category] %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% for post in posts  %}
    {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
    {% capture this_month %}{{ post.date | date: "%B" }}{% endcapture %}
    {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}
    {% capture next_month %}{{ post.previous.date | date: "%B" }}{% endcapture %}

    {% if forloop.first %}
      <h3 id="{{ this_year }}-ref">{{this_year}}</h3>
      <ul>
    {% endif %}

    <li><a href="{{ post.url }}">{{ post.title }}</a>{% if post.source %}<small><nobr> :: {{post.source}}</nobr></small>{% endif %}</li>

    {% if forloop.last %}
      </ul>
    {% else %}
      {% if this_year != next_year %}
        </ul>
        <br /><hr width="25%" size="1" noshade="">
        <h3 id="{{ next_year }}-ref">{{next_year}}</h3>
        <ul>
      {% endif %}
      {% if this_month != next_month %}
        </ul>
        <h4 id="{{ next_month }}-ref">{{next_month}}</h4>
        <ul>
      {% endif %}
    {% endif %}
{% endfor %}