---
layout: compress
---

{% capture link -%}
{% if page.canonical_url %}
<a href="{{page.canonical_url}}">{{page.canonical_url | remove_first: 'http://' | remove_first: 'https://' | split: '/'
  | first}}</a>
{% else %}
<a href="{{site.url}}{{page.url}}">{{site.url | remove_first: 'http://' | remove_first: 'https://'}}</a>
{% endif %}
{%- endcapture %}

<!DOCTYPE html>
<html lang="{{ page.lang | default: "en" }}">
{%- include head.html -%}

<body bgcolor="white" link='green' vlink='green' alink='green' text="black">
  <br /><br />
  <center>
    <table id="w" width="800" border="0" cellpadding="20" cellspacing="0">
      <tr>
        <td align="left">
          <font face='monospace,courier new,courier'>
            <main>
              {{ content }}
            </main>
            <br />
            <footer>
              <hr size="1" noshade />
              <font color="gray"><small><i>
                    <p align='right'>
                      {% if page.id %}
                        <time datetime="{{ page.date | date: " %Y-%m-%d" }}">{{ page.date | date: "%Y.%m.%d" }}</time> &bullet; {{link}} &bullet;
                      {% else %}
                        {{link}} &bullet;
                      {% endif %}
                      <a href="/feed.xml">rss</a> &bullet; <a href="https://webring.xxiivv.com/#random">webring</a>
                    </p>
                  </i></small></font>
            </footer>
          </font>
        </td>
      </tr>
    </table>
  </center>
  <br /><br />
</body>

</html>