---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: "en" }}">
{%- include head.html -%}

<body bgcolor="white" text="black">
  <br /><br />
  <center>
    <table id="wrapper" width="800" border="0" cellpadding="20">
      <tr>
        <td align="left">
          <font face='monospace,courier new,courier'>
            <main>
              {{ content }}
            </main>
          </font>
        </td>
      </tr>
    </table>
  </center>
  <br /><br />
</body>

</html>