---
layout: page
---

{{ content }}

<footer>
  <hr size="1" noshade />
  <font color="gray">
    <p>
      <small>
        <i>
          This post was originally published at
          {% if page.canonical_url %}
            <a href="{{page.canonical_url}}">{{page.canonical_url | remove_first: 'http://' | remove_first: 'https://' | split: '/' | first}}</a>
          {% else %}
            <a href="{{site.url}}{{page.url}}">{{site.url | remove_first: 'http://' | remove_first: 'https://'}}</a>
          {% endif %}
          on <time datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%B %-d, %Y" }}</time>. Facts and circumstances may have changed since publication, so please contact me if something seems wrong or unclear.
        </i>
      </small>
    </p>
  </font>
</footer>