---
layout: default
---

{% include back_link.html %}

<article>
  <h1>{{ page.title }}</h1>

  {{ content }}

  <footer>
    <hr />
    <p>
      <small>
        <i>
          This post was originally published at
          {% if page.canonical_url %}
            <a href="{{page.canonical_url}}">{{page.canonical_url}}</a>
          {% else %}
            <a href="{{page.url}}{{page.url}}">{{site.url}}{{page.url}}</a>
          {% endif %}
          on <time datetime="{{ page.date }}">{{ page.date | date: "%B %-d, %Y" }}</time>.
        </i>
      </small>
    </p>
  </footer>

</article>